<header>
  <div class="spotify-logo__container">
    <a href="https://www.totvs.com/">
      <img class="totvs-logo" src="assets/icons/totvs-logo2.png" alt="" />
    </a>
  </div>
  <div class="home-search__container">
    <po-button p-icon="fa fa-home" p-label="" routerLink="/" class="home__button">
    </po-button>
    <po-search [p-literals]="customLiterals"></po-search>
    <po-button
      p-icon="fa fa-folder-open"
      routerLink="/search"
      class="sections__button"
      (mousedown)="preventFocus($event)"
      (click)="navigateToSearch()"
    >
    </po-button>
  </div>
  <div class="login-container">
    <po-button p-label="Inscrever-se"></po-button>
    <po-button p-label="Entrar" p-kind="primary"></po-button>
  </div>
</header>
