* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  height: 100vh;

  app-header {
    grid-area: header;
  }

  app-nav {
    grid-area: nav;
  }

  .main-content {
    color: var(--cor-azulPEP);
    grid-area: main;
    cursor: default;
    overflow: auto;
    background-color: #fff;
  }

  app-footer {
    grid-area: footer;
  }
}
