<main>
  <div class="artistas">
    <span class="title">Artistas populares</span>
    <div class="artistas-grid">
      <app-artista-card *ngFor="let Artistas of artistasDB" [artistasDB]="Artistas" />
    </div>
  </div>

  <div class="albuns">
    <span class="title">Singles e álbuns que todo mundo gosta</span>
    <div class="grid-albuns">
      <!-- Primeiro -->
      <a href="" class="cards">
        <div class="cards card1">
          <img src="assets/images/albuns/madonna-like-a-preyer.jpg" alt="" />
          <div class="nome">
            <span class="nome-album">Like a Preyer</span>
          </div>
          <span class="album-artista">Madonna</span>
        </div>
      </a>

      <!-- Segundo -->
      <a href="" class="cards">
        <div class="cards card2">
          <img src="assets/images/albuns/travis-scott-utopia.jpg" alt="" />
          <div class="nome">
            <span class="nome-album">Utopia</span>
          </div>
          <span class="album-artista">Travis Scott</span>
        </div>
      </a>

      <!-- Terceiro -->
      <a href="" class="cards">
        <div class="cards card3">
          <img src="assets/images/albuns/taylor-swift-midnights.jpg" alt="" />
          <div class="nome">
            <span class="nome-album">Midnights</span>
          </div>
          <span class="album-artista">Taylor Swift</span>
        </div>
      </a>

      <!-- Quarto -->
      <a href="" class="cards">
        <div class="cards card4">
          <img src="assets/images/albuns/eagles-hotel-california.jpg" alt="" />
          <div class="nome">
            <span class="nome-album">Hotel California</span>
          </div>
          <span class="album-artista">Eagles</span>
        </div>
      </a>

      <!-- Quinto -->
      <a href="" class="cards">
        <div class="cards card5">
          <img src="assets/images/albuns/nct-empathy.jpg" alt="" />
          <div class="nome">
            <span class="nome-album">Empathy</span>
          </div>
          <span class="album-artista">NCT</span>
        </div>
      </a>

      <!-- Sexto -->
      <a href="" class="cards">
        <div class="cards card5">
          <img src="assets/images/albuns/exo-love-shot.jpg" alt="" />
          <div class="nome">
            <span class="nome-album">LOVE SHOT</span>
          </div>
          <span class="album-artista">Exo</span>
        </div>
      </a>
    </div>
  </div>
</main>
