nav {
  background-color: #fff;
  padding: 8px;
  min-width: 404px;
  height: 100%;
  cursor: default;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #c6c6c6;
}

po-button {
  --background-hover: #8a8a8a2a;
}

.teste {
  display: flex;
  flex-direction: column;
  gap: 8px;

  po-button {
    --color: var(--cor-azulPEP);
  }
}

po-widget {
  .title {
    font-size: 14px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

/* Sua Biblioteca */

.library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--cor-azulPEP);
  padding: 5px 0 5px 18px;

  .your-library {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    .fa-book {
      font-size: 20px;
      padding-right: 12px;
    }

    &:hover {
      color: #000000;
    }
  }

  .fa-plus {
    padding: 10px;
    margin-right: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      background-color: #1aaee454;
      border-radius: 50%;
    }
  }
}

.creator-container {
  display: flex;
  justify-items: center;
  margin-top: auto;
  margin-left: 16px;
  margin-bottom: 24px;

  .creator {
    color: var(--cor-azulPEP);
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
    border: solid 1px var(--cor-azulPEP);
    border-radius: 3px;
    cursor: pointer;

    i {
      margin-right: 6px;
    }
  }
}
