<nav>
  <div class="teste">
    <div class="library">
      <div class="your-library">
        <i class="fa fa-book"></i>
        <span>Sua Biblioteca</span>
      </div>
      <i class="fa fa-plus"></i>
    </div>
    <po-widget>
      <div class="title">Crie sua primeira playlist</div>
      <div class="subtitle">É fácil, vamos te ajudar.</div>
      <po-button p-label="Criar playlist"></po-button>
    </po-widget>
    <po-widget>
      <div class="title">Que tal seguir um podcast novo?</div>
      <div class="subtitle">Avisaremos você sobre novos episódios.</div>
      <po-button p-label="Criar playlist"></po-button>
    </po-widget>
  </div>

  <div class="creator-container">
    <div class="creator">
      <i class="fa fa-vial"></i>
      <span>Clone feito por Brayan Valadares </span>
    </div>
  </div>
</nav>
