<nav>
  <div class="library">
    <div class="your-library">
      <i class="fa fa-book"></i>
      <span>Sua Biblioteca</span>
    </div>
    <i class="fa fa-plus"></i>
  </div>
  <div class="create-library">
    <h2>Crie sua primeira playlist</h2>
    <p>É fácil, vamos te ajudar.</p>
    <button>Criar playlist</button>
  </div>
  <div class="explore-podcast">
    <h2>Que tal seguir um podcast novo?</h2>
    <p>Avisaremos você sobre novos episódios.</p>
    <button>Explore podcasts</button>
  </div>

  <div class="creator-container">
    <div class="creator">
      <i class="fa fa-vial"></i>
      <span>Clone feito por Brayan Valadares </span>
    </div>
  </div>
</nav>
